* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; /* Ensures 1rem = 16px */
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

.cursor_pointer{
  cursor: pointer;
}