:root {
    --bg-color: #FFF;
    --text-color: #000;
    --text-color-black: #000000;
    --text-color-white: #FFFF;
    --primary-color: #535ACB;
    --secondary-color: #535ACB;
    --border-color:gray;
}

[data-theme="dark"] {
    --bg-color: #19558E;
    --text-color: #FFFF;
    --primary-color: #212121;
    --border-color: #FFF
    
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

button {
    background: linear-gradient(90deg, #545BCE 0%, #898EF5 100%);;
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.9;
}

.link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}